@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300&display=swap'); url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
} 

body {
  --primary-color: #c2185b;
  --secondary-color: #ffffff;
  --text--color: #444444;
}

.container{
  display: flex;
  flex-direction: column;
}

.container__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font: 400 20px  'Pacifico', cursive;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container__header__img{
  max-width: 60px;
  max-height: 60px;
  margin-right: 5px;
}

.images-container{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.images-container__card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  height: auto;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 600px){
  .images-container__card{
    width: 100%;
  }
}

.images-container__card__img{
  width: 100%;
  height: auto;
}

.images-container__card__text{
  color: var(--text--color);
  padding: 5px;
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  min-height: 50px;
}
