@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,300&display=swap');

:root{
  --primary-color: #c2185b;
  --secondary-color: #ffffff;
  --text--color: #444444;
}

*{
  margin: 0;
  padding: 0;
  outline: 0;
} 

body {
  
  margin: 0;
  padding: 0;
  outline: 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header__img{
  max-width: 60px;
  max-height: 60px;
  margin-right: 5px;
}

.header__title{
  font: bold 30px  'Pacifico', cursive;
  margin: 0;
  color: var(--secondary-color);
}

.album{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  height: auto;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 600px){
  .card{
    width: 100%;
  }
}

.card__img{
  width: 100%;
  height: auto;
}

.card__text{
  color: var(--text--color);
  padding: 5px;
  text-align: center;
  font: italic 20px  'Roboto', sans-serif;
  min-height: 50px;
}

.footer{
  min-height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer__text{
  margin: 0;
  font: italic 20px  'Roboto', sans-serif;
  color: var(--secondary-color);
}